[submodule "M.Mohsin_Assign_3/backend/assignment 3 only frontend"]
	path = M.Mohsin_Assign_3/backend/assignment 3 only frontend
	url = https://github.com/Mohsinakabilsins/23PWBCS0973--WPFALL24-Frontend.git
